.main .txt{
 text-transform: uppercase;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
 margin: 20px;
}
.txt h1{
font-size: 2rem;
text-transform: uppercase;
animation: changecolor 5s infinite alternate;
}
@keyframes changecolor {
    0%{
        color: aqua;
    }
    20%{
        color: greenyellow;
    }
    40%{
        color: rgb(0, 0, 0);
    }
    60%{
        color: rgb(216, 9, 9);
    }
    80%{
        color: rgb(60, 0, 255);
    }
    100%{
        color: rgb(116, 116, 116);
    }
}